<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
<li>Ability to list popular languages used for data science.</li>
<li>Ability to list popular libraries used for data science.</li>
<li>Ability to list popular tools used for data science.</li>
</ul>

<p>Some of the popular languages that Data Scientists use are:</p>
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
<li>Julia</li>
<li>SAS</li>
<li>MATLAB</li>
</ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<ol>
<li>Panda</li>
<li>NumPy</li>
<li>Matplotlib</li>
<li>TensorFlow</li>
<li>Seaborn</li>
</ol>

<table>
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>Jupyter Notebook</td>
</tr>
<tr>
<td>RStudio</td>
</tr>
<tr>
<td>Spyder</td>
</tr>
</tabe>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

<h2>Author</h2>
Ameen Jebali